<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Record</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Record: </h1>

    <table>
        <thead>
            <tr>
                <th>Camera</th>
                <th>Screenshot Location</th>
                <th>Timestamp</th>
                <th>No of Tyres Jammed</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record[0] }}</td>
                <td><a href="{{ record[1] }}">{{ record[1] }}</a></td>
                <td>{{ record[2] }}</td>
                <td>{{ record[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Total Number of Jamming: {{ records|length }}</h3>
</body>
</html>
