<!DOCTYPE html>
<html>
<head>
    <title>Trench Conveyor AI Interface - Successful</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="logo logo-left"><img src="{{ url_for('static', filename='assets/REC Logo.png') }}" width="100px" height="auto"></div>
        <div class="logo logo-right"><img src="{{ url_for('static', filename='assets/Apollo logo.png') }}" width="80px" height="auto"></div>
        <h1 class="title">Trench Conveyor AI Interface</h1>
        <div class="success-message">
            Authentication successful!
        </div><br>
        <div class="video-container">
            <img  id="video-player" width="600" height="auto" controls src="{{ url_for('video_feed') }}" alt="Camera Feed">
        </div>
    </div>
</body>
</html>
