<!DOCTYPE html>
<html>
<head>
    <title>Trench Conveyor AI Interface</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="test-container">
        <div class="logo logo-left"><img src="{{ url_for('static', filename='assets/REC Logo.png') }}" width="100px" height="auto"></div>
        <div class="logo logo-right"><img src="{{ url_for('static', filename='assets/Apollo logo.png') }}" width="80px" height="auto"></div>
        <h1 class="title">Trench Conveyor AI Interface</h1><br>
        <center><h3>Check the Cameras</h3></center>
        <div class="sub-containers-wrapper">
            <div class="sub-container">
                <div class="card" id="card1">
                    <h3>Camera 1</h3>
                    <form action="/test" method="post">
                        <label for="address">Address:</label>
                        <input type="text" id="address" name="address" required>
                        <br> <br>
                        <button class="btn" type="submit">Test</button>
                    </form>
                </div>
            </div>
            <div class="sub-container">
                <div class="card" id="card2">
                    <h3>Camera 2</h3>
                    <form action="/test" method="post">
                        <label for="address">Address:</label>
                        <input type="text" id="address" name="address" required>
                        <br> <br>
                        <button class="btn" type="submit">Test</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="sub-containers-wrapper">
            <div class="sub-container">
                <div class="card" id="card3">
                    <h3>Camera 3</h3>
                    <form action="/test" method="post">
                        <label for="address">Address:</label>
                        <input type="text" id="address" name="address" required>
                        <br> <br>
                        <button class="btn" type="submit">Test</button>
                    </form>
                </div>
            </div>
            <div class="sub-container">
                <div class="card" id="card4">
                    <h3>Camera 4</h3>
                    <form action="/test" method="post">
                        <label for="address">Address:</label>
                        <input type="text" id="address" name="address" required>
                        <br> <br>
                        <button class="btn" type="submit">Test</button>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <center><button class="btn" onclick="window.location.href='/video'">Proceed</button></center>
    </div>
</body>
</html>
